.comparison-viewer {
	position: relative;
}

.comparison-viewer .comparison-viewer-overflow-wrap {
	position: relative;
	overflow: hidden;
}

.comparison-viewer.dragging {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.comparison-viewer .view {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow: visible;
	-webkit-transition: right 1000ms, left 1000ms;
	transition: right 1000ms, left 1000ms;
}

.comparison-viewer.dragging .view,
.comparison-viewer.position-set .view {
	-webkit-transition: none;
	transition: none;
}

.comparison-viewer .left-view {
	left: 0;
	right: 50%;
	z-index: 2;
}

/* the order of over-left over-right matters! */
.comparison-viewer.over-left .left-view {
	right: 43%;
}

.comparison-viewer.over-right .left-view {
	right: 57%;
}

.comparison-viewer .right-view {
	left: 50%;
	right: 0;
}

.comparison-viewer.over-left .right-view {
	left: 57%;
}

.comparison-viewer.over-right .right-view {
	left: 43%;
}

.comparison-viewer .view .inner-view-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.comparison-viewer .view .inner-view-wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 2;
	-webkit-transition: background 250ms linear;
	transition: background 250ms linear;
}

.comparison-viewer.position-set .view .inner-view-wrapper:before,
.comparison-viewer.position-set .view .inner-view-wrapper:after,
.comparison-viewer.no-hover-effect .view .inner-view-wrapper:before,
.comparison-viewer.no-hover-effect .view .inner-view-wrapper:after {
	display: none;
}

.comparison-viewer .comparison-viewer-overflow-wrap:hover .view .inner-view-wrapper:before {
	background-color: rgba(31, 31, 31, 0.42);
}

.comparison-viewer .view .inner-view-wrapper:after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	color: #fff;
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 250ms linear;
	transition: opacity 250ms linear;
}

.comparison-viewer .left-view.view .inner-view-wrapper:after {
	content: ">";
	right: 30px;
}

.comparison-viewer .right-view.view .inner-view-wrapper:after {
	content: "<";
	left: 30px;
}

.comparison-viewer .view .inner-view-wrapper:hover:after {
	opacity: 1;
}

.comparison-viewer .view .hover-help-text {
	position: absolute;
	top: calc(50% - 8px);
	color: #fff;
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 250ms linear;
	transition: opacity 250ms linear;
}

.comparison-viewer.position-set .view .hover-help-text,
.comparison-viewer.no-hover-effect .view .hover-help-text {
	display: none;
}

.comparison-viewer .view .inner-view-wrapper:hover .hover-help-text {
	opacity: 1;
}

.comparison-viewer .left-view.view .hover-help-text {
	right: 50px;
}

.comparison-viewer .right-view.view .hover-help-text {
	left: 50px;
}

.comparison-viewer .view .inner-view {
	position: absolute;
	top: 0;
	bottom: 0;
}

.comparison-viewer .right-view .inner-view {
	right: 0;
}

.comparison-viewer .left-view .inner-view {
	left: 0;
}

.comparison-viewer .inner-view img {
	display: block;
	width: 100%;
	height: auto;
}

.comparison-viewer .view-ctrl-bar {
	/*position: relative;*/
	position: absolute;
	z-index: 3;
	height: 100%;
	max-width: 36px;
	min-width: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: -webkit-grab;
	cursor: grab;
	margin-left: -36px;
}

.comparison-viewer .view-ctrl-bar:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #fff;
	left: calc(50% - 1px);
	top: 0;
}

.comparison-viewer .view-ctrl-bar {
	/*left: calc(100% + 18px) !important;*/
	left: initial!important;
	right: -18px;
}

.comparison-viewer .view-ctrl-bar .ctrl-circle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	height: 25px;
	max-width: 25px;
	border-radius: 15px;
	border: 2px solid #fff;
}

.comparison-viewer .view-ctrl-bar .ctrl-circle:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-right: auto;
	margin-left: 2px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 7px solid #fff;
}

.comparison-viewer .view-ctrl-bar .ctrl-circle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: auto;
	margin-right: 2px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #fff;
}

.comparison-viewer.inside-btn-placement .comparison-viewer-actions.main-btn-actions {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;
}

.comparison-viewer.outside-btn-placement {
	margin-top: 30px;
}

.comparison-viewer.outside-btn-placement .comparison-viewer-actions.main-btn-actions {
}

.comparison-viewer .comparison-viewer-actions .comparison-viewer-btn {
	white-space: nowrap;
}

.comparison-viewer.inside-btn-placement .view .comparison-viewer-actions {
	position: absolute;
	bottom: 10px;
	z-index: 4;
}

.comparison-viewer .view.left-view .comparison-viewer-actions {
	left: 10px;
}

.comparison-viewer .view.right-view .comparison-viewer-actions {
	right: 10px;
}